<nav class="flex items-center justify-between bg-white py-3" aria-label="Pagination">
    <div class="pagination gap-x-3">
        {% if payments.has_previous %}
            <button hx-post="{% url 'loans:payment-page' 1 %}"
                    hx-push-url="/payments/"
                    hx-target="#payment-list"
                    class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">
                first
            </button>
        {% else %}
            <span disable
                    class="relative inline-flex items-center rounded-md bg-gray px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">
                first
            </span>
        {% endif %}

        {% if payments.has_previous %}
            <button hx-post="{% url 'loans:payment-page'  payments.previous_page_number  %}"
                    hx-push-url="/payments/"
                    hx-target="#payment-list"
                    class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">
                previous
            </button>
        {% else %}
            <span disabled
                    class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">
                previous
            </span>
        {% endif %}

        {% if payments.has_next %}
            <button hx-post="{% url 'loans:payment-page'  payments.next_page_number  %}"
                    hx-push-url="/payments/"
                    hx-target="#payment-list"
                    class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">
                next
            </button>

        {% else %}
            <span disabled
                    class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">
                next
            </span>
        {% endif %}

        {% if payments.has_next %}
            <button hx-post="{% url 'loans:payment-page'  payments.paginator.num_pages  %}"
                    hx-push-url="/payments/"
                    hx-target="#payment-list"
                    class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">
                last
            </button>
        {% else %}
            <span disabled
                    class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">
                last
            </span>
        {% endif %}
    </div>

    <div class="flex flex-1 justify-between sm:justify-end mr-4">
        <p class="text-sm text-gray-700">
        <span class="font-medium">{{ total_records }}</span>
        records found
        </p>
    </div>
</nav>

<div class="hidden sm:block">
    <span class="current">
      Page {{ payments.number }} of {{ payments.paginator.num_pages }}.
    </span>
</div>