{% load widget_tweaks %}

<div class="grid grid-cols-1 border-b border-gray-900/10 pb-12 md:grid-cols-2 flex items-center justify-end gap-x-6 border-t border-gray-900/10  py-4 bg-gray-50 text-white py-4 px-6 sticky top-0 z-50">
    <div>
      <h2 class="text-base font-semibold leading-7 text-gray-900">
        {% if forms.account_title.value %}
          {{ ledger.account_title }}
        {% else %}
          New Ledger
        {% endif %}
      </h2>
    </div>
    
    <div class="text-right inline-flow">
      <span class="p-4">
        <a href="{% url 'ledger_accounts:ledgers' %}" class="text-sm font-semibold leading-6 text-gray-900">Cancel</a>
      </span>
      <button type="submit"
              class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
      >Save</button>
    </div>
   
</div>


<div class="grid grid-cols-1 gap-y-10 pb-4 md:grid-cols-4">
    <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2 pt-5">
        <div class="sm:col-span-4">
            <label for="ledger_type" class="block text-sm font-medium leading-6 text-gray-900">Ledger Type</label>
            <div class="mt-2">
              {%  render_field forms.ledger_type class="px-2 bg-white block rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %}
            </div>
        </div>

        <div class="col-span-full">
            <label for="account_title" class="block text-sm font-medium leading-6 text-gray-900">Account Title</label>
            <div class="mt-2">
                {% render_field forms.account_title class="px-2 bg-white block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %}
            </div>
        </div>

        <div class="col-span-full">
            <label for="description" class="block text-sm font-medium leading-6 text-gray-900">Description</label>
            <div class="mt-2">
                {% render_field forms.description class="numeric-input px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %}
            </div>
        </div>
        
        <div x-data="{ open: {{ ledger.status|yesno:"true,false" }} }" class="sm:col-span-1">
            <label for="status" class="block text-sm font-medium leading-6 text-gray-900">Status</label>
            
            <input type="text" name="status" :value="open" hidden>
            <button x-on:click="open = ! open" 
                    type="button" 
                    :class="[open ? 'bg-indigo-600': 'bg-gray-200' , 'relative inline-flex h-6 w-11 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2']" role="switch" aria-checked="false" aria-labelledby="availability-label" aria-describedby="availability-description">
                <span aria-hidden="True" 
                    :class="[open ? 'translate-x-5': 'translate-x-0' ,  'pointer-events-none inline-block h-5 w-5 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out']"></span>
            </button>
        </div>

  </div>
</div>