<div class="col-span-full">
    <dt class="text-sm font-medium leading-6 text-gray-900">Select Terms</dt>
    <dd class="mt-2 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
        <ul id="list_terms" name="list_terms" class="divide-y divide-gray-100 rounded-md border border-gray-200">
            {% for loan_term in loan_terms %}
                <li class="flex items-center justify-between py-2 pl-4 pr-5 text-sm leading-6">
                    <input type="number" name="terms" value="{{ loan_term.terms }}" hidden>
                    <span class="flex-col">
                        <legend class="text-base font-semibold leading-6 text-gray-900">{{ loan_term.terms }} Months</legend>
                        
                        <span class="text-sm font-medium leading-6 text-gray-900" id="availability-label">Interest Rate: </span>
                        <input type="number" name="interest_rate" value="{{ loan_term.interest_rate }}" value="0"
                                    class="w-20 p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500"> %
                    </span> 

                    <div x-data="{ open: {{ loan_term.status|yesno:"true,false" }} }">
                        <input type="text" name="status" :value="open" hidden>
                        <button x-on:click="open = ! open" 
                                type="button" 
                                :class="[open ? 'bg-indigo-600': 'bg-gray-200' , 'relative inline-flex h-6 w-11 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2']" role="switch" aria-checked="false" aria-labelledby="availability-label" aria-describedby="availability-description">
                            <span aria-hidden="True" 
                                :class="[open ? 'translate-x-5': 'translate-x-0' ,  'pointer-events-none inline-block h-5 w-5 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out']"></span>
                        </button>
                    </div>
                </li>
            {% endfor %}
      </ul>
    </dd>
</div>